/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* Body */
body {
  background-color: #0F172A;
  color: #ffffff;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

/* Reusable */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.card {
  background-color: #1E293B;
  border-radius: 16px;
  padding: 20px;
}

.button {
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.button-primary {
  background-color: #6366F1;
  color: white;
}

.button-danger {
  background-color: #EF4444;
  color: white;
}